<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from htmldemo.net/minoan-v1/minoan/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 13:30:16 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Home || Minoan</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- favicon
		============================================ -->
	<link rel="shortcut icon" type="image/x-icon" href="img/logo/favicon.ico">

	<!-- Google Fonts
		============================================ -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<!-- Bootstrap CSS
		============================================ -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Font Awesome CSS
		============================================ -->
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- Mean Menu CSS
		============================================ -->
	<link rel="stylesheet" href="css/meanmenu.min.css">
	<!-- owl.carousel CSS
		============================================ -->
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.css">
	<link rel="stylesheet" href="css/owl.transitions.css">
	<!-- nivo-slider css
		============================================ -->
	<link rel="stylesheet" href="css/nivo-slider.css">
	<!-- Price slider css
		============================================ -->
	<link rel="stylesheet" href="css/jquery-ui-slider.css">
	<!-- Simple Lence css
		============================================ -->
	<link rel="stylesheet" type="text/css" href="css/jquery.simpleLens.css">
	<link rel="stylesheet" type="text/css" href="css/jquery.simpleGallery.css">
	<!-- animate CSS
		============================================ -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- normalize CSS
		============================================ -->
	<link rel="stylesheet" href="css/normalize.css">
	<!-- main CSS
		============================================ -->
	<link rel="stylesheet" href="css/main.css">
	<!-- style CSS
		============================================ -->
	<link rel="stylesheet" href="style.css">
	<!-- responsive CSS
		============================================ -->
	<link rel="stylesheet" href="css/responsive.css">
	<!-- modernizr JS
		============================================ -->
	<script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<!-- Header Area -->
	<div class="header-area">
		<!-- Header top bar -->
		<div class="header-top-bar">
			<div class="container">
				<div class="header-top-inner">
					<div class="row align-items-lg-center">
						<div class="col-lg-8 col-sm-12">
							<div class="header-top-left">
								<div class="phone">
									<label>Call us:</label> (+88) 01737803547
								</div>
								<div class="e-mail">
									<label>Email:</label> admin@bootexperts.com
								</div>
								<!-- Header Link Area -->
								<div class="header-link-area">
									<div class="header-link">
										<p class="hidden-xs">Language: </p>
										<ul>
											<li><a href="#">English <span class="fa fa-angle-down"></span></a>
												<ul>
													<li><a href="#">English 1</a></li>
													<li><a href="#">English 2</a></li>
													<li><a href="#">English 3</a></li>
													<li><a href="#">English 4</a></li>
													<li><a href="#">English 5</a></li>
												</ul>
											</li>
										</ul>
									</div>
									<div class="header-link">
										<p class="hidden-md hidden-sm hidden-xs">Currency: </p>
										<ul>
											<li class="hidden-md hidden-sm hidden-xs"><a href="#">USD <span
														class="fa fa-angle-down"></span></a>
												<ul>
													<li><a href="#">EUR</a></li>
													<li><a href="#">USD</a></li>
												</ul>
											</li>
											<li><a href="#">Account <span class="fa fa-angle-down"></span></a>
												<ul>
													<li><a href="my-account.html">My Account</a></li>
													<li><a href="wishlist.html">My Wishlist</a></li>
													<li><a href="cart.html">My Cart</a></li>
													<li><a href="checkout.html">Checkout</a></li>
													<li><a href="blog.html">Blog</a></li>
													<li><a href="my-account.html">login</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div><!-- End Header Link Area -->
							</div>
						</div>
						<div class="col-lg-4 col-sm-12">
							<div class="header-top-right">
								<!-- Header Social Icon -->
								<div class="header-social-icon">
									<ul>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-youtube"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- End Header Top bar -->
		<!-- Header bottom -->
		<div class="header-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-sm-12">
						<!-- Header Search -->
						<div class="header-search">
							<form action="#">
								<input type="text" placeholder="SEARCH...">
								<button type="button" class="btn"><i class="fa fa-search"></i></button>
							</form>
						</div>
					</div>
					<div class="col-lg-4 col-sm-12">
						<!-- Header logo -->
						<div class="header-logo">
							<a href="index.html"><img src="img/logo/logo.webp" alt="logo"></a>
						</div>
					</div>
					<div class="col-lg-4 col-sm-12">
						<!-- Header Cart Area-->
						<div class="header-cart-area">
							<div class="header-cart">
								<ul>
									<li>
										<a href="#">
											<i class="fa fa-shopping-cart"></i>
											<span class="my-cart">My cart</span>
											<span class="badge">2</span>
										</a>
										<ul>
											<li>
												<div class="cart-list">
													<div class="cart-list-item">
														<div class="cart-list-img">
															<a href="#"><img src="img/cart/c1.webp" alt="cart" /></a>
														</div>
														<div class="cart-content">
															<a href="#">Etiam gravida</a>
															<p>1 x <span>$432.00</span></p>
														</div>
														<div class="cart-button">
															<a href="#"><i class="fa fa-pencil"></i></a>
															<a href="#"><i class="fa fa-times"></i></a>
														</div>
													</div>
												</div>
												<div class="cart-list cart-list-two">
													<div class="cart-list-item">
														<div class="cart-list-img">
															<a href="#"><img src="img/cart/c2.webp" alt="cart" /></a>
														</div>
														<div class="cart-content">
															<a href="#">Etiam gravida</a>
															<p>1 x <span>$432.00</span></p>
														</div>
														<div class="cart-button">
															<a href="#"><i class="fa fa-pencil"></i></a>
															<a href="#"><i class="fa fa-times"></i></a>
														</div>
													</div>
												</div>
												<div class="cart-subtotal">
													<p>Subtotal: <span>$1,131.00</span></p>
												</div>
												<div class="cart-action">
													<button type="button" class=""><span>checkout</span> <i
															class="fa fa-long-arrow-right"></i></button>
												</div>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div><!-- End Header Cart Area-->
					</div>
				</div>
			</div>
		</div>
		<!-- End Header bottom -->
	</div><!-- End Header Area -->