
<%-include("../../views/partials/user/header")%>

	<!--Header section-->
	<!-- Main Menu Area -->
	<div class="main-menu-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- Main Menu -->
					<div class="main-menu d-none d-lg-block">
						<nav>
							<ul class="main-ul">
								<li class="sub-menu-li"><a href="index.html" class="active">Home<i
											class="fa fa-chevron-down"></i></a>
									<!-- Sub Menu -->
									<ul class="sub-menu">
										<li><a href="index-2.html"><i class="fa fa-chevron-circle-right"></i> <span>Home
													Page 2</span></a></li>
										<li><a href="index-3.html"><i class="fa fa-chevron-circle-right"></i> <span>Home
													Page 3</span></a></li>
										<li><a href="index-4.html"><i class="fa fa-chevron-circle-right"></i> <span>Home
													Page 4</span></a></li>
										<li><a href="index-5.html"><i class="fa fa-chevron-circle-right"></i> <span>Home
													Page 5</span></a></li>
										<li><a href="index-6.html"><i class="fa fa-chevron-circle-right"></i> <span>Home
													Page 6</span></a></li>
									</ul>
								</li>
								<li><a href="shop.html"><span class="label-menu">Sale</span> Women<i
											class="fa fa-chevron-down"></i></a>
									<ul class="mega-menu-ul">
										<li>
											<!-- Mega Menu -->
											<div class="mega-menu">
												<div class="single-mega-menu">
													<h2><a href="shop.html">Clother</a></h2>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Cocktail</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Day</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Evening</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Sports</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Sexy Dress</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Fsshion Skirt</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Evening Dress</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Children's Clothing</span></a>
												</div>
												<div class="single-mega-menu">
													<h2><a href="shop.html">Dress and skirt</a></h2>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Sports</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Run</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Sandals</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Books</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>A-line Dress</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Lacy Looks</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Shirts-T-Shirts</span></a>
												</div>
												<div class="single-mega-menu">
													<h2><a href="shop.html">shoes</a></h2>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>blazers</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>table</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>coats</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>kids</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Sweater</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Coat</span></a>
												</div>
												<div class="single-mega-menu banner-add">
													<a href="shop.html">
														<img src="img/cart/menu-img.webp" alt="img">
													</a>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li class="small-megamenu-li"><a href="shop.html">Men<i
											class="fa fa-chevron-down"></i></a>
									<ul class="mega-menu-ul mega-menu-ul-two">
										<li>
											<!--Small Mega Menu -->
											<div class="mega-menu mega-menu-two">
												<div class="single-mega-menu">
													<h2><a href="shop.html">Bages</a></h2>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Bootes Bages</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Blazers</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Mermaid</span></a>
												</div>
												<div class="single-mega-menu">
													<h2><a href="shop.html">Clothing</a></h2>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>coats</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>T-shirt</span></a>
												</div>
												<div class="single-mega-menu">
													<h2><a href="shop.html">lingerie</a></h2>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>brands</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>furniture</span></a>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li><a href="shop.html">Handbags<i class="fa fa-chevron-down"></i></a>
									<ul class="mega-menu-ul">
										<li>
											<!-- Mega Menu -->
											<div class="mega-menu">
												<div class="single-mega-menu">
													<h2><a href="shop.html">Footwear Man</a></h2>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Gold Rigng</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>paltinum Rings</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Silver Ring</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Tungsten Ring</span></a>
												</div>
												<div class="single-mega-menu">
													<h2><a href="shop.html">Footwear Womens</a></h2>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Bands Gold</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>platinum Bands</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Silver Bands</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Tungsten Bands</span></a>
												</div>
												<div class="single-mega-menu">
													<h2><a href="shop.html">Rings</a></h2>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Platinum Bracelets</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Gold Ring</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>silver ring</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Diamond Bracelets</span></a>
												</div>
												<div class="single-mega-menu">
													<h2><a href="shop.html">Band</a></h2>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Platinum Necklaces</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Gold Ring</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Silver Ring</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Sunglasses</span></a>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li><a href="shop.html">Shoes<i class="fa fa-chevron-down"></i></a>
									<ul class="mega-menu-ul">
										<li>
											<!-- Mega Menu -->
											<div class="mega-menu">
												<div class="single-mega-menu">
													<h2><a href="shop.html">Rings</a></h2>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Coats & jackets</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>blazers</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>raincoats</span></a>
												</div>
												<div class="single-mega-menu">
													<h2><a href="shop.html">Dresses</a></h2>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>Ankle Boots</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>footwear</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>clog sandals</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>combat boots</span></a>
												</div>
												<div class="single-mega-menu">
													<h2><a href="shop.html">Accessories</a></h2>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>bootees Bags</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>blazers</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>jackets</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>kids</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>shoes</span></a>
												</div>
												<div class="single-mega-menu">
													<h2><a href="shop.html">Top</a></h2>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>briefs</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>camis</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>nigthwear</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>kids</span></a>
													<a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
														<span>shapewer</span></a>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li class="sub-menu-li"><a href="#" class="new-arrivals">Pages<i
											class="fa fa-chevron-down"></i></a>
									<!-- Sub Menu -->
									<ul class="sub-menu">
										<li><a href="blog.html"><i class="fa fa-chevron-circle-right"></i>
												<span>Blog</span></a></li>
										<li><a href="blog-details.html"><i class="fa fa-chevron-circle-right"></i>
												<span>Blog Details</span></a></li>
										<li><a href="cart.html"><i class="fa fa-chevron-circle-right"></i>
												<span>Cart</span></a></li>
										<li><a href="checkout.html"><i class="fa fa-chevron-circle-right"></i>
												<span>Checkout</span></a></li>
										<li><a href="contact.html"><i class="fa fa-chevron-circle-right"></i>
												<span>Contact</span></a></li>
										<li><a href="shop.html"><i class="fa fa-chevron-circle-right"></i>
												<span>Shop</span></a></li>
										<li><a href="shop-list.html"><i class="fa fa-chevron-circle-right"></i>
												<span>Shop List</span></a></li>
										<li><a href="product-details.html"><i class="fa fa-chevron-circle-right"></i>
												<span>Product Details</span></a></li>
										<li><a href="my-account.html"><i class="fa fa-chevron-circle-right"></i>
												<span>My Account</span></a></li>
										<li><a href="wishlist.html"><i class="fa fa-chevron-circle-right"></i>
												<span>Wishlist</span></a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div><!-- End Main Menu -->
					<!-- Start Mobile Menu -->
					<div class="mobile-menu d-lg-none">
						<nav>
							<ul>
								<li class=""><a href="index.html">Home</a>
									<ul class="sub-menu">
										<li><a href="index-2.html">Home Page 2</a></li>
										<li><a href="index-3.html">Home Page 3</a></li>
										<li><a href="index-4.html">Home Page 4</a></li>
										<li><a href="index-5.html">Home Page 5</a></li>
										<li><a href="index-6.html">Home Page 6</a></li>
									</ul>
								</li>
								<li><a href="shop.html">Women</a>
									<ul class="">
										<li><a href="#">Clother</a>
											<ul>
												<li><a href="#">Cocktail</a></li>
												<li><a href="#">Day</a></li>
												<li><a href="#">Evening</a></li>
												<li><a href="#">Sports</a></li>
												<li><a href="#">Sexy Dress</a></li>
												<li><a href="#">Fsshion Skirt</a></li>
												<li><a href="#">Evening Dress</a></li>
												<li><a href="#">Children's Clothing</a></li>
											</ul>
										</li>
										<li><a href="#">Dress and skirt</a>
											<ul>
												<li><a href="#">Sports</a></li>
												<li><a href="#">Run</a></li>
												<li><a href="#">Sandals</a></li>
												<li><a href="#">Books</a></li>
												<li><a href="#">A-line Dress</a></li>
												<li><a href="#">Lacy Looks</a></li>
												<li><a href="#">Shirts-T-Shirts</a></li>
											</ul>
										</li>
										<li><a href="#">shoes</a>
											<ul>
												<li><a href="#">blazers</a></li>
												<li><a href="#">table</a></li>
												<li><a href="#">coats</a></li>
												<li><a href="#">Sports</a></li>
												<li><a href="#">kids</a></li>
												<li><a href="#">Sweater</a></li>
												<li><a href="#">Coat</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class=""><a href="shop.html">Men</a>
									<ul class="">
										<li><a href="#">Bages</a>
											<ul>
												<li><a href="#">Bootes Bages</a></li>
												<li><a href="#">Blazers</a></li>
												<li><a href="#">Mermaid</a></li>
											</ul>
										</li>
										<li><a href="#">Clothing</a>
											<ul>
												<li><a href="#">coats</a></li>
												<li><a href="#">T-shirt</a></li>
											</ul>
										</li>
										<li><a href="#">lingerie</a>
											<ul>
												<li><a href="#">brands</a></li>
												<li><a href="#">furniture</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="shop.html">Handbags</a>
									<ul class="">
										<li><a href="#">Footwear Man</a>
											<ul>
												<li><a href="#">Gold Rigng</a></li>
												<li><a href="#">paltinum Rings</a></li>
												<li><a href="#">Silver Ring</a></li>
												<li><a href="#">Tungsten Ring</a></li>
											</ul>
										</li>
										<li><a href="#">Footwear Womens</a>
											<ul>
												<li><a href="#">Brand Gold</a></li>
												<li><a href="#">paltinum Rings</a></li>
												<li><a href="#">Silver Ring</a></li>
												<li><a href="#">Tungsten Ring</a></li>
											</ul>
										</li>
										<li><a href="#">Band</a>
											<ul>
												<li><a href="#">Platinum Necklaces</a></li>
												<li><a href="#">Gold Ring</a></li>
												<li><a href="#">silver ring</a></li>
												<li><a href="#">Diamond Bracelets</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="shop.html">Shoes</a>
									<ul class="">
										<li><a href="#">Rings</a>
											<ul>
												<li><a href="#">Coats & jackets</a></li>
												<li><a href="#">blazers</a></li>
												<li><a href="#">raincoats</a></li>
											</ul>
										</li>
										<li><a href="#">Dresses</a>
											<ul>
												<li><a href="#">footwear</a></li>
												<li><a href="#">blazers</a></li>
												<li><a href="#">clog sandals</a></li>
												<li><a href="#">combat boots</a></li>
											</ul>
										</li>
										<li><a href="#">Accessories</a>
											<ul>
												<li><a href="#">bootees Bags</a></li>
												<li><a href="#">blazers</a></li>
												<li><a href="#">jackets</a></li>
												<li><a href="#">kids</a></li>
												<li><a href="#">shoes</a></li>
											</ul>
										</li>
										<li><a href="#">Top</a>
											<ul>
												<li><a href="#">briefs</a></li>
												<li><a href="#">camis</a></li>
												<li><a href="#">nigthwear</a></li>
												<li><a href="#">kids</a></li>
												<li><a href="#">shapewer</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class=""><a href="#">Pages</a>
									<ul class="">
										<li><a href="blog.html">Blog</a></li>
										<li><a href="blog-details.html">Blog Details</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="contact.html">Contact</a></li>
										<li><a href="shop.html">Shop</a></li>
										<li><a href="shop-list.html">Shop List</a></li>
										<li><a href="product-details.html">Product Details</a></li>
										<li><a href="my-account.html">My Account</a></li>
										<li><a href="wishlist.html">Wishlist</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div><!-- End Mobile Menu -->
				</div>
			</div>
		</div>
	</div><!-- End Main Menu Area -->
	<!-- Main Slider Area -->
	<div class="main-slider-area">
		<!-- Main Slider -->
		<div class="main-slider">
			<div class="slider">
				<div id="mainSlider" class="nivoSlider slider-image">
					<img src="img/slider/slider2.webp" alt="main slider" title="#htmlcaption1" />
					<img src="img/slider/slider1.webp" alt="main slider" title="#htmlcaption2" />
				</div>
				<!-- Slider Caption One -->
				<div id="htmlcaption1" class="nivo-html-caption slider-caption-1 hidden-xs">
					<div class="slider-progress"></div>
					<div class="slide-text">
						<div class="middle-text">
							<div class="cap-title wow zoomInUp" data-wow-duration=".9s" data-wow-delay="0s">
								<h2>At Finally started...</h2>
							</div>
							<div class="cap-dec">
								<h1 class="wow zoomInUp" data-wow-duration="1.1s" data-wow-delay="0s">Huge sale</h1>
								<p class="wow zoomInUp" data-wow-duration="1.3s" data-wow-delay="0s"> up to 70% off
									Fahion collection Shop now</p>
							</div>
							<div class="cap-readmore wow zoomInUp" data-wow-duration="1.3s" data-wow-delay=".3s">
								<a href="#">Shop Now</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Slider Caption Two -->
				<div id="htmlcaption2" class="nivo-html-caption slider-caption-2 hidden-xs">
					<div class="slider-progress"></div>
					<div class="slide-text">
						<div class="middle-text">
							<div class="cap-title wow zoomInRight" data-wow-duration=".9s" data-wow-delay="0s">
								<h2>At Finally started...</h2>
							</div>
							<div class="cap-dec">
								<h1 class="cap-dec wow zoomInRight" data-wow-duration="1.1s" data-wow-delay="0s">Huge
									sale</h1>
								<p class="cap-dec wow zoomInRight" data-wow-duration="1.3s" data-wow-delay="0s"> up to
									70% off Fahion collection Shop now</p>
							</div>
							<div class="cap-readmore wow zoomInRight" data-wow-duration=".9s" data-wow-delay=".5s">
								<a href="#">Shop Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- End Main Slider -->
	</div><!-- End Main Slider Area -->
	<!-- Product Box Area -->
	<div class="product-box-area">
		<div class="container">
			<!-- Product Box -->
			<div class="product-box">
				<!-- Single Product Box -->
				<div class="single-product-box">
					<div class="product-box-img">
						<a href="#"><img src="img/product-box/pb1.webp" alt="product"></a>
					</div>
					<div class="product-box-content">
						<h2>Clothing</h2>
						<p>Fashiong trending 2015</p>
						<a href="#">shop now</a>
					</div>
				</div>
				<!-- Single Product Box -->
				<div class="single-product-box single-product-box-two">
					<div class="product-box-content">
						<h2>hand Bags</h2>
						<p>Fashiong trending 2015</p>
						<a href="#">shop now</a>
					</div>
					<div class="product-box-img">
						<a href="#"><img src="img/product-box/pb2.webp" alt="product"></a>
					</div>
				</div>
				<!-- Single Product Box -->
				<div class="single-product-box single-product-box-three">
					<div class="product-box-img">
						<a href="#"><img src="img/product-box/pb3.webp" alt="product"></a>
					</div>
					<div class="product-box-content">
						<h2>Shoes</h2>
						<p>Fashiong trending 2015</p>
						<a href="#">shop now</a>
					</div>
				</div>
			</div><!-- End Product Box -->
		</div>
	</div><!-- End Product Box Area -->
	<!-- Product area -->
	<div class="product-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- Product Top Bar -->
					<div class="product-top-bar customize-tab-bar">
						<!-- Tab Button -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation"><a class="active" href="#p-bestseller" data-bs-toggle="tab"><i
										class="fa fa-pencil-square-o"></i>bestseller</a></li>
							<li role="presentation"><a href="#p-new" data-bs-toggle="tab"><i class="fa fa-star"></i>New
									Products</a></li>
							<li role="presentation"><a href="#p-random" data-bs-toggle="tab"><i
										class="fa fa-picture-o"></i>Random Products</a></li>
						</ul><!-- End Tab Button -->
					</div><!-- End Product Top Bar -->
				</div>
				<div class="col-lg-12">
					<!-- Single Product area -->
					<div class="single-product-area c-carousel-button">
						<!-- Tab Content -->
						<div class="tab-content">
							<!-- Tab Pane One -->
							<div class="tab-pane show fade active" id="p-bestseller">
								<div class="m-lr-n-15px">
									<!-- Single Product Carousel-->
									<div id="single-product-bestseller" class="owl-carousel">
										<!-- Start Single Product Column-->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp2.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp1.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-new">New</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp3.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp4.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-sale">Sale</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price"><span>$205.00</span> $155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp1.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp5.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-new">New</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$167.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp6.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp19.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-new">New</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$333.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp7.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp8.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-new">New</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$80.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp9.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp6.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-sale">Sale</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price"><span>$124.00</span> $134.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp1.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp2.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-new">New</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp10.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp8.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-new">New</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
									</div><!-- End Single Product Carousel-->
								</div>
							</div><!-- End Tab Pane One -->
							<!-- Tab Pane Two -->
							<div class="tab-pane fade" id="p-new">
								<div class="m-lr-n-15px">
									<!-- Single Product Carousel-->
									<div id="single-product-new" class="owl-carousel">
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp15.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp12.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-sale">Sale</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price"><span>$222.00</span> $143.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp13.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp7.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-new">New</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp17.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp16.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-sale">Sale</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price"><span>$100.00</span> $70.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp11.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp12.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-new">New</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp16.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp17.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-new">New</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp18.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp18.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-sale">Sale</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp1.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp2.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-new">New</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp19.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp20.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-new">New</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
									</div><!-- End Single Product Carousel-->
								</div>
							</div><!-- End Tab Pane Two -->
							<!-- Tab Pane Three -->
							<div role="tabpanel" class="tab-pane fade" id="p-random">
								<div class="m-lr-n-15px">
									<!-- Single Product Carousel-->
									<div id="single-product-random" class="owl-carousel">
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp20.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp21.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-new">New</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp17.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp11.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-sale">Sale</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price"><span>$205.00</span> $155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp10.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp2.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-new">New</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp16.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp20.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-sale">Sale</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price"><span>$80.00</span> $65.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp18.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp19.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-new">New</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp11.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp21.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-sale">Sale</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp1.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp2.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-new">New</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
										<!-- Start Single Product Column -->
										<div class="p-lr-15px">
											<div class="single-product">
												<div class="single-product-img">
													<a href="#">
														<img class="primary-img" src="img/product/sp13.webp"
															alt="product">
														<img class="secondary-img" src="img/product/sp5.webp"
															alt="product">
													</a>
													<div class="product-status">
														<span class="product-new">New</span>
													</div>
												</div>
												<div class="single-product-content">
													<div class="product-content-head">
														<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
														<p class="product-price">$155.00</p>
													</div>
													<div class="product-bottom-action">
														<div class="product-action">
															<div class="action-button">
																<button class="btn" type="button"><i
																		class="fa fa-shopping-cart"></i> <span>Add to
																		bag</span></button>
															</div>
															<div class="action-view">
																<button type="button" class="btn" data-bs-toggle="modal"
																	data-bs-target="#productModal"><i
																		class="fa fa-search"></i>Quick view</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!-- End Single Product Column -->
									</div><!-- End Single Product Carousel-->
								</div>
							</div><!-- End Tab Pane Three -->
						</div><!-- End Tab Content -->
					</div><!-- End Single Product area -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Product area -->
	<!-- Single Banner area -->
	<div class="single-banner-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="singler-banner banner-add">
						<a href="#">
							<img src="img/banner/b1.webp" alt="banner">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- End Single Banner area -->
	<!-- Brand Product area -->
	<div class="brand-products-area">
		<div class="container">
			<div class="row">
				<!-- Brand Product Column -->
				<div class="col-lg-6 col-md-6">
					<div class="brand-products brand-product-shoes c-carousel-button">
						<div class="row">
							<div class="col-lg-12">
								<div class="products-head">
									<div class="products-head-title">
										<i class="fa fa-picture-o"></i>
										<h2>brand shoes</h2>
									</div>
								</div>
							</div>
						</div>
						<div class="m-lr-n-15px">
							<!-- Single Product Carousel-->
							<div id="product-brand-shoes" class="owl-carousel">
								<!-- Start Single Product Column -->
								<div class="p-lr-15px">
									<div class="single-product">
										<div class="single-product-img">
											<a href="#">
												<img class="primary-img" src="img/product/sp4.webp" alt="product">
												<img class="secondary-img" src="img/product/sp9.webp" alt="product">
											</a>
										</div>
										<div class="single-product-content">
											<div class="product-content-head">
												<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
												<p class="product-price">$155.00</p>
											</div>
											<div class="product-bottom-action">
												<div class="product-action">
													<div class="action-button">
														<button class="btn" type="button"><i
																class="fa fa-shopping-cart"></i> <span>Add to
																bag</span></button>
													</div>
													<div class="action-view">
														<button type="button" class="btn" data-bs-toggle="modal"
															data-bs-target="#productModal"><i
																class="fa fa-search"></i>Quick view</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- End Single Product Column -->
								<!-- Start Single Product Column -->
								<div class="p-lr-15px">
									<div class="single-product">
										<div class="single-product-img">
											<a href="#">
												<img class="primary-img" src="img/product/sp3.webp" alt="product">
												<img class="secondary-img" src="img/product/sp19.webp" alt="product">
											</a>
										</div>
										<div class="single-product-content">
											<div class="product-content-head">
												<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
												<p class="product-price"><span>$205.00</span> $155.00</p>
											</div>
											<div class="product-bottom-action">
												<div class="product-action">
													<div class="action-button">
														<button class="btn" type="button"><i
																class="fa fa-shopping-cart"></i> <span>Add to
																bag</span></button>
													</div>
													<div class="action-view">
														<button type="button" class="btn" data-bs-toggle="modal"
															data-bs-target="#productModal"><i
																class="fa fa-search"></i>Quick view</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- End Single Product Column -->
								<!-- Start Single Product Column -->
								<div class="p-lr-15px">
									<div class="single-product">
										<div class="single-product-img">
											<a href="#">
												<img class="primary-img" src="img/product/sp2.webp" alt="product">
												<img class="secondary-img" src="img/product/sp5.webp" alt="product">
											</a>
										</div>
										<div class="single-product-content">
											<div class="product-content-head">
												<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
												<p class="product-price">$155.00</p>
											</div>
											<div class="product-bottom-action">
												<div class="product-action">
													<div class="action-button">
														<button class="btn" type="button"><i
																class="fa fa-shopping-cart"></i> <span>Add to
																bag</span></button>
													</div>
													<div class="action-view">
														<button type="button" class="btn" data-bs-toggle="modal"
															data-bs-target="#productModal"><i
																class="fa fa-search"></i>Quick view</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- End Single Product Column -->
								<!-- Start Single Product Column -->
								<div class="p-lr-15px">
									<div class="single-product">
										<div class="single-product-img">
											<a href="#">
												<img class="primary-img" src="img/product/sp6.webp" alt="product">
												<img class="secondary-img" src="img/product/sp1.webp" alt="product">
											</a>
										</div>
										<div class="single-product-content">
											<div class="product-content-head">
												<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
												<p class="product-price">$155.00</p>
											</div>
											<div class="product-bottom-action">
												<div class="product-action">
													<div class="action-button">
														<button class="btn" type="button"><i
																class="fa fa-shopping-cart"></i> <span>Add to
																bag</span></button>
													</div>
													<div class="action-view">
														<button type="button" class="btn" data-bs-toggle="modal"
															data-bs-target="#productModal"><i
																class="fa fa-search"></i>Quick view</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- End Single Product Column -->
							</div><!-- End Single Product Carousel -->
						</div>
					</div>
				</div><!-- End Brand Products Column -->
				<!-- Brand Product Column -->
				<div class="col-lg-6 col-md-6">
					<div class="brand-products c-carousel-button">
						<div class="row">
							<div class="col-lg-12">
								<div class="products-head">
									<div class="products-head-title">
										<i class="fa fa-picture-o"></i>
										<h2>brand Bag</h2>
									</div>
								</div>
							</div>
						</div>
						<div class="m-lr-n-15px">
							<!-- Single Product Carousel-->
							<div id="product-brand-bag" class="owl-carousel">
								<!-- Start Single Product Column -->
								<div class="p-lr-15px">
									<div class="single-product">
										<div class="single-product-img">
											<a href="#">
												<img class="primary-img" src="img/product/sp7.webp" alt="product">
												<img class="secondary-img" src="img/product/sp8.webp" alt="product">
											</a>
										</div>
										<div class="single-product-content">
											<div class="product-content-head">
												<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
												<p class="product-price">$155.00</p>
											</div>
											<div class="product-bottom-action">
												<div class="product-action">
													<div class="action-button">
														<button class="btn" type="button"><i
																class="fa fa-shopping-cart"></i> <span>Add to
																bag</span></button>
													</div>
													<div class="action-view">
														<button type="button" class="btn" data-bs-toggle="modal"
															data-bs-target="#productModal"><i
																class="fa fa-search"></i>Quick view</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- End Single Product Column -->
								<!-- Start Single Product Column -->
								<div class="p-lr-15px">
									<div class="single-product">
										<div class="single-product-img">
											<a href="#">
												<img class="primary-img" src="img/product/sp10.webp" alt="product">
												<img class="secondary-img" src="img/product/sp5.webp" alt="product">
											</a>
										</div>
										<div class="single-product-content">
											<div class="product-content-head">
												<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
												<p class="product-price"><span>$205.00</span> $155.00</p>
											</div>
											<div class="product-bottom-action">
												<div class="product-action">
													<div class="action-button">
														<button class="btn" type="button"><i
																class="fa fa-shopping-cart"></i> <span>Add to
																bag</span></button>
													</div>
													<div class="action-view">
														<button type="button" class="btn" data-bs-toggle="modal"
															data-bs-target="#productModal"><i
																class="fa fa-search"></i>Quick view</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- End Single Product Column -->
								<!-- Start Single Product Column -->
								<div class="p-lr-15px">
									<div class="single-product">
										<div class="single-product-img">
											<a href="#">
												<img class="primary-img" src="img/product/sp2.webp" alt="product">
												<img class="secondary-img" src="img/product/sp5.webp" alt="product">
											</a>
										</div>
										<div class="single-product-content">
											<div class="product-content-head">
												<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
												<p class="product-price">$155.00</p>
											</div>
											<div class="product-bottom-action">
												<div class="product-action">
													<div class="action-button">
														<button class="btn" type="button"><i
																class="fa fa-shopping-cart"></i> <span>Add to
																bag</span></button>
													</div>
													<div class="action-view">
														<button type="button" class="btn" data-bs-toggle="modal"
															data-bs-target="#productModal"><i
																class="fa fa-search"></i>Quick view</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- End Single Product Column -->
								<!-- Start Single Product Column -->
								<div class="p-lr-15px">
									<div class="single-product">
										<div class="single-product-img">
											<a href="#">
												<img class="primary-img" src="img/product/sp6.webp" alt="product">
												<img class="secondary-img" src="img/product/sp1.webp" alt="product">
											</a>
										</div>
										<div class="single-product-content">
											<div class="product-content-head">
												<h2 class="product-title"><a href="#">Cras neque metus</a></h2>
												<p class="product-price">$155.00</p>
											</div>
											<div class="product-bottom-action">
												<div class="product-action">
													<div class="action-button">
														<button class="btn" type="button"><i
																class="fa fa-shopping-cart"></i> <span>Add to
																bag</span></button>
													</div>
													<div class="action-view">
														<button type="button" class="btn" data-bs-toggle="modal"
															data-bs-target="#productModal"><i
																class="fa fa-search"></i>Quick view</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- End Single Product Column -->
							</div><!-- End Single Product Carousel-->
						</div>
					</div>
				</div><!-- End Brand Product Column -->
			</div>
		</div>
	</div>
	<!-- End Brand Product area -->
	<!-- About-add area -->
	<div class="about-add-area">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-3 col-md-5">
					<div class="about-add-img banner-add">
						<a href="#">
							<img src="img/banner/b2.webp" alt="img">
						</a>
					</div>
				</div>
				<div class="col-xl-4 col-lg-5 col-md-7">
					<div class="about-add-content">
						<div class="add-single-content">
							<div class="content-left">
								<div class="number">
									<span>1</span>
								</div>
							</div>
							<div class="content-right">
								<h2>Responsive design</h2>
								<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
									lectorum.</p>
							</div>
						</div>
						<div class="add-single-content">
							<div class="content-left">
								<div class="number">
									<span>2</span>
								</div>
							</div>
							<div class="content-right">
								<h2>Responsive design</h2>
								<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
									lectorum.</p>
							</div>
						</div>
						<div class="add-single-content">
							<div class="content-left">
								<div class="number">
									<span>3</span>
								</div>
							</div>
							<div class="content-right">
								<h2>Responsive design</h2>
								<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
									lectorum.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-12">
					<div class="about-add-banner">
						<div class="about-add-banner-top banner-add">
							<a href="#">
								<img src="img/banner/b3.webp" alt="img">
							</a>
						</div>
						<div class="about-add-banner-bottom banner-add">
							<div class="banner-bottom-left">
								<a href="#">
									<img src="img/banner/b4.webp" alt="img">
								</a>
							</div>
							<div class="banner-bottom-right banner-add">
								<a href="#">
									<img src="img/banner/b5.webp" alt="img">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- End About-add area -->
	<!-- Fetured Product area -->
	<div class="fetured-product-area brand-products c-carousel-button">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="fetured-products">
						<div class="row">
							<div class="col-lg-12">
								<div class="products-head">
									<div class="products-head-title">
										<i class="fa fa-picture-o"></i>
										<h2>Featured products</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="m-lr-n-15px">
				<!-- Fetured Product Carousel -->
				<div id="feture-products" class="owl-carousel">
					<!-- Fetured Product Inner Item Column -->
					<div class="fiture-product-inner-item p-lr-15px">
						<!-- Fetured Product Single Item -->
						<div class="fiture-poroduct-single-item">
							<div class="single-item-img">
								<a href="#">
									<img class="primary-img" src="img/product/feture-product/f1.webp" alt="product">
									<img class="secondary-img" src="img/product/feture-product/f2.webp" alt="product">
								</a>
							</div>
							<div class="single-item-content">
								<div class="content-head">
									<h2 class="product-title">
										<a href="#">Fusce aliquam</a>
									</h2>
									<p class="product-price"><span>$175.00</span> $155.00</p>
								</div>
								<div class="content-action">
									<button class="btn" type="button"><i class="fa fa-shopping-cart"></i></button>
									<ul>
										<li class="heart-li"><a href="#"><i class="fa fa-heart"></i></a>
										</li>
										<li class="exchange-li"><a href="#"><i class="fa fa-exchange"></i></a></li>
										<li><a href="#" data-bs-toggle="modal" data-bs-target="#productModal"><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!-- End Fetured Product Single Item -->
						<!-- Fetured Product Single Item -->
						<div class="fiture-poroduct-single-item">
							<div class="single-item-img">
								<a href="#">
									<img class="primary-img" src="img/product/feture-product/f3.webp" alt="product">
									<img class="secondary-img" src="img/product/feture-product/f4.webp" alt="product">
								</a>
							</div>
							<div class="single-item-content">
								<div class="content-head">
									<h2 class="product-title">
										<a href="#">Fusce aliquam</a>
									</h2>
									<p class="product-price"> $155.00</p>
								</div>
								<div class="content-action">
									<button class="btn" type="button"><i class="fa fa-shopping-cart"></i></button>
									<ul>
										<li class="heart-li"><a href="#"><i class="fa fa-heart"></i></a>
										</li>
										<li class="exchange-li"><a href="#"><i class="fa fa-exchange"></i></a></li>
										<li><a href="#" data-bs-toggle="modal" data-bs-target="#productModal"><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!-- End Fetured Product Single Item -->
					</div><!-- End Fetured Product Inner Item -->
					<!-- Fetured Product Inner Item Column -->
					<!-- Fetured Product Inner Item -->
					<div class="fiture-product-inner-item p-lr-15px">
						<!-- Fetured Product Single Item -->
						<div class="fiture-poroduct-single-item">
							<div class="single-item-img">
								<a href="#">
									<img class="primary-img" src="img/product/feture-product/f5.webp" alt="product">
									<img class="secondary-img" src="img/product/feture-product/f6.webp" alt="product">
								</a>
							</div>
							<div class="single-item-content">
								<div class="content-head">
									<h2 class="product-title">
										<a href="#">Fusce aliquam</a>
									</h2>
									<p class="product-price"> $155.00</p>
								</div>
								<div class="content-action">
									<button class="btn" type="button"><i class="fa fa-shopping-cart"></i></button>
									<ul>
										<li class="heart-li"><a href="#"><i class="fa fa-heart"></i></a>
										</li>
										<li class="exchange-li"><a href="#"><i class="fa fa-exchange"></i></a></li>
										<li><a href="#" data-bs-toggle="modal" data-bs-target="#productModal"><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!-- End Fetured Product Single Item -->
						<!-- Fetured Product Single Item -->
						<div class="fiture-poroduct-single-item">
							<div class="single-item-img">
								<a href="#">
									<img class="primary-img" src="img/product/feture-product/f7.webp" alt="product">
									<img class="secondary-img" src="img/product/feture-product/f8.webp" alt="product">
								</a>
							</div>
							<div class="single-item-content">
								<div class="content-head">
									<h2 class="product-title">
										<a href="#">Fusce aliquam</a>
									</h2>
									<p class="product-price"><span>$175.00</span> $155.00</p>
								</div>
								<div class="content-action">
									<button class="btn" type="button"><i class="fa fa-shopping-cart"></i></button>
									<ul>
										<li class="heart-li"><a href="#"><i class="fa fa-heart"></i></a>
										</li>
										<li class="exchange-li"><a href="#"><i class="fa fa-exchange"></i></a></li>
										<li><a href="#" data-bs-toggle="modal" data-bs-target="#productModal"><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!-- End Fetured Product Single Item -->
					</div><!-- End Fetured Product Inner Item -->
					<!-- Fetured Product Inner Item -->
					<div class="fiture-product-inner-item p-lr-15px">
						<!-- Fetured Product Single Item -->
						<div class="fiture-poroduct-single-item">
							<div class="single-item-img">
								<a href="#">
									<img class="primary-img" src="img/product/feture-product/f9.webp" alt="product">
									<img class="secondary-img" src="img/product/feture-product/f10.webp" alt="product">
								</a>
							</div>
							<div class="single-item-content">
								<div class="content-head">
									<h2 class="product-title">
										<a href="#">Fusce aliquam</a>
									</h2>
									<p class="product-price"><span>$175.00</span> $155.00</p>
								</div>
								<div class="content-action">
									<button class="btn" type="button"><i class="fa fa-shopping-cart"></i></button>
									<ul>
										<li class="heart-li"><a href="#"><i class="fa fa-heart"></i></a>
										</li>
										<li class="exchange-li"><a href="#"><i class="fa fa-exchange"></i></a></li>
										<li><a href="#" data-bs-toggle="modal" data-bs-target="#productModal"><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!-- End Fetured Product Single Item -->
						<!-- Fetured Product Single Item -->
						<div class="fiture-poroduct-single-item">
							<div class="single-item-img">
								<a href="#">
									<img class="primary-img" src="img/product/feture-product/f11.webp" alt="product">
									<img class="secondary-img" src="img/product/feture-product/f12.webp" alt="product">
								</a>
							</div>
							<div class="single-item-content">
								<div class="content-head">
									<h2 class="product-title">
										<a href="#">Fusce aliquam</a>
									</h2>
									<p class="product-price"><span>$175.00</span> $155.00</p>
								</div>
								<div class="content-action">
									<button class="btn" type="button"><i class="fa fa-shopping-cart"></i></button>
									<ul>
										<li class="heart-li"><a href="#"><i class="fa fa-heart"></i></a>
										</li>
										<li class="exchange-li"><a href="#"><i class="fa fa-exchange"></i></a></li>
										<li><a href="#" data-bs-toggle="modal" data-bs-target="#productModal"><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!-- End Fetured Product Single Item -->
					</div><!-- End Fetured Product Inner Item -->
					<!-- Fetured Product Inner Item Column -->
					<div class="fiture-product-inner-item p-lr-15px">
						<!-- Fetured Product Single Item -->
						<div class="fiture-poroduct-single-item">
							<div class="single-item-img">
								<a href="#">
									<img class="primary-img" src="img/product/feture-product/f1.webp" alt="product">
									<img class="secondary-img" src="img/product/feture-product/f2.webp" alt="product">
								</a>
							</div>
							<div class="single-item-content">
								<div class="content-head">
									<h2 class="product-title">
										<a href="#">Fusce aliquam</a>
									</h2>
									<p class="product-price"><span>$175.00</span> $155.00</p>
								</div>
								<div class="content-action">
									<button class="btn" type="button"><i class="fa fa-shopping-cart"></i></button>
									<ul>
										<li class="heart-li"><a href="#"><i class="fa fa-heart"></i></a>
										</li>
										<li class="exchange-li"><a href="#"><i class="fa fa-exchange"></i></a></li>
										<li><a href="#" data-bs-toggle="modal" data-bs-target="#productModal"><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!-- End Fetured Product Single Item -->
						<!-- Fetured Product Single Item -->
						<div class="fiture-poroduct-single-item">
							<div class="single-item-img">
								<a href="#">
									<img class="primary-img" src="img/product/feture-product/f3.webp" alt="product">
									<img class="secondary-img" src="img/product/feture-product/f4.webp" alt="product">
								</a>
							</div>
							<div class="single-item-content">
								<div class="content-head">
									<h2 class="product-title">
										<a href="#">Fusce aliquam</a>
									</h2>
									<p class="product-price"> $155.00</p>
								</div>
								<div class="content-action">
									<button class="btn" type="button"><i class="fa fa-shopping-cart"></i></button>
									<ul>
										<li class="heart-li"><a href="#"><i class="fa fa-heart"></i></a>
										</li>
										<li class="exchange-li"><a href="#"><i class="fa fa-exchange"></i></a></li>
										<li><a href="#" data-bs-toggle="modal" data-bs-target="#productModal"><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!-- End Fetured Product Single Item -->
					</div><!-- End Fetured Product Inner Item -->
					<!-- Fetured Product Inner Item Column -->
					<!-- Fetured Product Inner Item -->
					<div class="fiture-product-inner-item p-lr-15px">
						<!-- Fetured Product Single Item -->
						<div class="fiture-poroduct-single-item">
							<div class="single-item-img">
								<a href="#">
									<img class="primary-img" src="img/product/feture-product/f5.webp" alt="product">
									<img class="secondary-img" src="img/product/feture-product/f6.webp" alt="product">
								</a>
							</div>
							<div class="single-item-content">
								<div class="content-head">
									<h2 class="product-title">
										<a href="#">Fusce aliquam</a>
									</h2>
									<p class="product-price"> $155.00</p>
								</div>
								<div class="content-action">
									<button class="btn" type="button"><i class="fa fa-shopping-cart"></i></button>
									<ul>
										<li class="heart-li"><a href="#"><i class="fa fa-heart"></i></a>
										</li>
										<li class="exchange-li"><a href="#"><i class="fa fa-exchange"></i></a></li>
										<li><a href="#" data-bs-toggle="modal" data-bs-target="#productModal"><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!-- End Fetured Product Single Item -->
						<!-- Fetured Product Single Item -->
						<div class="fiture-poroduct-single-item">
							<div class="single-item-img">
								<a href="#">
									<img class="primary-img" src="img/product/feture-product/f7.webp" alt="product">
									<img class="secondary-img" src="img/product/feture-product/f8.webp" alt="product">
								</a>
							</div>
							<div class="single-item-content">
								<div class="content-head">
									<h2 class="product-title">
										<a href="#">Fusce aliquam</a>
									</h2>
									<p class="product-price"><span>$175.00</span> $155.00</p>
								</div>
								<div class="content-action">
									<button class="btn" type="button"><i class="fa fa-shopping-cart"></i></button>
									<ul>
										<li class="heart-li"><a href="#"><i class="fa fa-heart"></i></a>
										</li>
										<li class="exchange-li"><a href="#"><i class="fa fa-exchange"></i></a></li>
										<li><a href="#" data-bs-toggle="modal" data-bs-target="#productModal"><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!-- End Fetured Product Single Item -->
					</div><!-- End Fetured Product Inner Item -->
					<!-- Fetured Product Inner Item -->
					<div class="fiture-product-inner-item p-lr-15px">
						<!-- Fetured Product Single Item -->
						<div class="fiture-poroduct-single-item">
							<div class="single-item-img">
								<a href="#">
									<img class="primary-img" src="img/product/feture-product/f9.webp" alt="product">
									<img class="secondary-img" src="img/product/feture-product/f10.webp" alt="product">
								</a>
							</div>
							<div class="single-item-content">
								<div class="content-head">
									<h2 class="product-title">
										<a href="#">Fusce aliquam</a>
									</h2>
									<p class="product-price"><span>$175.00</span> $155.00</p>
								</div>
								<div class="content-action">
									<button class="btn" type="button"><i class="fa fa-shopping-cart"></i></button>
									<ul>
										<li class="heart-li"><a href="#"><i class="fa fa-heart"></i></a>
										</li>
										<li class="exchange-li"><a href="#"><i class="fa fa-exchange"></i></a></li>
										<li><a href="#" data-bs-toggle="modal" data-bs-target="#productModal"><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!-- End Fetured Product Single Item -->
						<!-- Fetured Product Single Item -->
						<div class="fiture-poroduct-single-item">
							<div class="single-item-img">
								<a href="#">
									<img class="primary-img" src="img/product/feture-product/f11.webp" alt="product">
									<img class="secondary-img" src="img/product/feture-product/f12.webp" alt="product">
								</a>
							</div>
							<div class="single-item-content">
								<div class="content-head">
									<h2 class="product-title">
										<a href="#">Fusce aliquam</a>
									</h2>
									<p class="product-price"><span>$175.00</span> $155.00</p>
								</div>
								<div class="content-action">
									<button class="btn" type="button"><i class="fa fa-shopping-cart"></i></button>
									<ul>
										<li class="heart-li"><a href="#"><i class="fa fa-heart"></i></a>
										</li>
										<li class="exchange-li"><a href="#"><i class="fa fa-exchange"></i></a></li>
										<li><a href="#" data-bs-toggle="modal" data-bs-target="#productModal"><i
													class="fa fa-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!-- End Fetured Product Single Item -->
					</div><!-- End Fetured Product Inner Item -->
				</div><!-- End Fetured Products Carousel -->
			</div>
		</div>
	</div>
	<!-- End Fetured Product area -->
	<!-- Brand Logo area -->
	<div class="brand-logo-area">
		<div class="container">
			<div class="brand-logo">
				<div class="brand-logo-title">
					<h2>Logo brands</h2>
				</div>
				<div id="brands-logo" class="owl-carousel">
					<div class="single-brand-logo">
						<a href="#">
							<img src="img/brand-logo/blogo1.webp" alt="logo">
						</a>
					</div>
					<div class="single-brand-logo">
						<a href="#">
							<img src="img/brand-logo/blogo5.webp" alt="logo">
						</a>
					</div>
					<div class="single-brand-logo">
						<a href="#">
							<img src="img/brand-logo/blogo2.webp" alt="logo">
						</a>
					</div>
					<div class="single-brand-logo">
						<a href="#">
							<img src="img/brand-logo/blogo3.webp" alt="logo">
						</a>
					</div>
					<div class="single-brand-logo">
						<a href="#">
							<img src="img/brand-logo/blogo4.webp" alt="logo">
						</a>
					</div>
					<div class="single-brand-logo">
						<a href="#">
							<img src="img/brand-logo/blogo1.webp" alt="logo">
						</a>
					</div>
					<div class="single-brand-logo">
						<a href="#">
							<img src="img/brand-logo/blogo5.webp" alt="logo">
						</a>
					</div>
					<div class="single-brand-logo">
						<a href="#">
							<img src="img/brand-logo/blogo3.webp" alt="logo">
						</a>
					</div>
					<div class="single-brand-logo">
						<a href="#">
							<img src="img/brand-logo/blogo4.webp" alt="logo">
						</a>
					</div>
					<div class="single-brand-logo">
						<a href="#">
							<img src="img/brand-logo/blogo2.webp" alt="logo">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- End Brand Logo area -->
	
	<%-include("../../views/partials/user/footer")%>